<header>
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
</header>
<div class="items">
    <a href="https://www.linkedin.com/in/pascal-boestfleisch-b3413525b/" target="_blank"
        style="text-decoration: none;">
        <i class="devicon-linkedin-plain"
            style="font-size: 40px; color: #fff">
        </i>
    </a>
    <a href="https://github.com/pascalboestfleisch" target="_blank"
        style="text-decoration: none;">
        <i class="devicon-github-original"
            style="font-size: 40px; color: #fff">
        </i>
    </a>
</div>