h1, div {
    text-align: center;
}

.items {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    height: 300px;
    /* position: fixed; */
    /* padding-left: 0.4em; */
    /* margin-top: -40px; */
    margin-top: 2em;
}

.items a:hover {
    transform: scale(1.25);
    transition: all .3s ease-in-out;
    box-shadow: 2em;
}

.items a {
    /* padding-top: 0.2em; */
    padding-left: 1em;
}