h1, div {
    text-align: center;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    position: fixed;
    padding-left: 0.4em;
    margin-top: -40px;
}

.items a:hover {
    transform: scale(1.125);
    transition: all .1s ease-in-out;
    box-shadow: 2em;
}

.items a {
    padding-top: 0.2em;
}