.topnav {
    background-color: rgb(21, 36, 63);
    overflow: hidden;
    margin: 0;
    margin-bottom: 2em;
    z-index: 1000;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-right {
    float: right;
}

.logo:hover {
    transform: scale(1.125);
    text-shadow: 1px 1px 15px white;

}

.logo {
    transition: all .3s ease-in-out;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}