h1, div {
    text-align: center;
}

.crop {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  
img {
    height: 100%;
    width: auto;
}